*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
h1{
    text-align: center;
}
p {
     margin-left:21px ;
     padding: 17px;

}
li{
    margin-left: 34px;

}